.feature-toggle-wrapper .feature-toggle {
    display: none;

    &,
    &:after,
    &:before,
    & *,
    & *:after,
    & *:before,
    & + .toggle-button {
        box-sizing: border-box;

        &::selection {
            background: none;
        }
    }

    + .toggle-button {
        outline: 0;
        display: block;
        width: 4em;
        height: 2em;
        position: relative;
        cursor: pointer;
        user-select: none;
        background: #f0f0f0;
        border-radius: 2em;
        padding: 2px;
        transition: all .4s ease;

        &:after,
        &:before {
            position: relative;
            display: block;
            content: "";
            width: 50%;
            height: 100%;
        }

        &:after {
            left: 0;
            border-radius: 50%;
            background: #fff;
            transition: all .2s ease;
        }

        &:before {
            display: none;
        }
    }

    &:checked + .toggle-button {
        background: #9FD6AE;

        &:after {
            left: 50%;
        }
    }
}